<header class="header ">
    <div class="menu margen-interno">
        <div class="logo">
            <img src="assets/APLogo-20-20.png" alt="">
        </div>
        <nav class="nav">       
        </nav>
        <div class="redsocial">
            <div ><a href="#" class="boton"><i class="fa-brands fa-github "></i></a></div>
            <div ><a href="#"class="boton"><i class="fa-brands fa-linkedin "></i></a></div>
            <div ><a href="#" class="botonlogin" >Login</a></div>
        </div>
    </div>
    <div class="banner">
      <img src="assets/backgroundaguila.jpg" alt="">
    </div>
</header>
