<section class="Educación">
    <h2 class="titulo-principal">Educación</h2>
    <ul class="estudios">
      <li>
          <h2>UNC</h2>
          <img src="assets/Logo_UNC_blanco.png">
          <p class="estudio-descripcion">Profesorado de Historia - Finalizado</p>
          <p class="estudio-fecha">2005-2011</p>
      </li>
      <li>
          <h2>ISPC</h2>
          <img src="assets/Isologotipo_ISPC_blanco-transparente-300x200.png">
          <p class="estudio-descripcion">Tecnicatura Superior en Desarrollo Web y Aplicaciones digitales - cursando</p>
          <p class="estudio-fecha">2022-2024</p>
      </li>
      <li>
          <h2>INTI</h2>
          <img src="assets/logo-inti-arg-blanco_23.png">
          <p class="estudio-descripcion">Argentina Programa - cursando segunda etapa</p>
          <p class="estudio-fecha">2022-2023</p>
      </li>
  </ul>
  </section>