<section class="Proyectos">
    <h2 class="titulo-principal">Proyectos</h2>
    <ul class="estudios">
      <li>
          <h2>TURNERO WEB</h2>
          <div ><a href="https://github.com/VeroNievas" class="boton"><i class="fa-brands fa-github "></i></a></div>
          <p class="estudio-descripcion">Proyecto integrador Full Stack del ISPC</p>
          <p class="estudio-fecha">2022-2023</p>
      </li>
      <li>
        <h2>ENCRIPTADOR DE TEXTO</h2>
        <div ><a href="https://github.com/VeroNievas" class="boton"><i class="fa-brands fa-github "></i></a></div>
        <p class="estudio-descripcion">Challenge ONE ORACLE ALURA</p>
        <p class="estudio-fecha">2022-2023</p>
    </li>
    <li>
        <h2>PORTFOLIO PROFESIONAL</h2>
        <div ><a href="https://github.com/VeroNievas" class="boton"><i class="fa-brands fa-github"></i></a></div>
        <p class="estudio-descripcion">Proyecto Integrador Full Stack de Argentina Programa #YoProgramo</p>
        <p class="estudio-fecha">2023</p>
    </li>
  </ul>
  </section>