<section class="acercade">
    <img src="assets/fotoperfil.jpg" alt="" class="fotoperfil">
    <p>VERÓNICA ELENA NIEVAS GUARDIA</p>
    <p>Full Stack Developer Jr | Profesora de Historia</p> 
    <h2 class="titulo-principal">Acerca de<div><i class="fa-solid fa-pen"></i></div></h2> 
    <p>Soy Profesora de Historia y Especialista en la enseñanza de Ciencias Sociales, tengo 11 años de experiencia como docente del nivel secundario, he participado de Proyectos Interdisciplinarios en relación a la Educación Tecnológica. Siempre continué estudiando y tuve mi primer contacto con la programación en una capacitación docente, desde ese momento decidí estudiar una Tecnicatura Superior en Desarrollo Web y realizar formaciones en programación a partir del 2022. Me interesa demostrar y desarrollar mis habilidades en el sector IT.</p>
</section>