<section class="experiencia">
    <h2 class="titulo-principal">Experiencia</h2>
      <div class="articulos">
          <article class="article"><div >
             <img src="assets/logodante.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">Profesora de Historia y Educación Tecnológica</h3>
                <p class="card-text">Docente de Nivel Secundario</p>
                <p class="card-date">Desde 2012 hasta la actualidad</p>
              </div>
            </div></article>
            <article class="article"><div >
              <img src="assets/logoIPET.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">Profesora de Historia</h3>
                <p class="card-text">Docente de Nivel Secundario</p>
                <p class="card-date">Desde 2012 hasta la actualidad</p>
              </div>
            </div></article>
      </div>
    </section>